@-webkit-keyframes slide-in-left
{
  0% {opacity:0;
  -webkit-transform: translate(-300px,0px);}
  40% {opacity:1}
  80% {-webkit-transform: translate(30px,0px);}
  100% {-webkit-transform: translate(0px,0px);}
}
html {
  overflow-x: hidden;
}
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: hsla(42,100%,50%,1);
  font-family: sans-serif, arial, Microsoft JhengHei;
  font-size: 14px;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
]
p {
  line-height: 1.5em;
}
h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 3em;
}
h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 2em;
}
h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1em;
}
p {
  line-height: 2em;
}
/* container */
.container {
  margin: 0 auto;
}
@media(min-width:768px) {
  .container {width:750px;}
}
@media(min-width:992px) {
  .container {width:970px;}
}
@media(min-width:1200px) {
  .container {width:1170px;}
}
.logo {
  position: fixed;
  top: 38%;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
}
.logo img {
  width: 100%;
  background: url('../img/photography.jpg');
  transition: all 0.4s ease-in;
}
.logo p {
  text-align: right;
  color: #FFFFFF;
}
/* menu */
.nav {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0;
}
.nav li {
  display: inline-block;
  width: 24%;
  padding: 10px 0px;
  text-align: center;
}
.nav li:hover {
  background-color: hsla(40,60%,70%,1);
  cursor: pointer;
}
/* content */
.content {
  display: none;
  margin-top: 50px;
  margin-bottom: 40px;
  z-index: 99;
}
.sub-content {
  clear: both;
  position: relative;
  background-color: #FFFFFF;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 3px 3px 8px 2px hsla(0,0%,0%,.2);
  -webkit-animation-name: slide-out-right;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
}
.title {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.title img {
  display: block;
  width: auto;
  height: 100%;
  transition: all .15s ease-out;
}
.title:hover img {
  opacity: .3;
  transform: scale(1.2,1.2)
}
.title span {
  position: absolute;
  width: 100%;
  top: 45%;
  color: hsla(0,0%,30%,0);
  text-align: center;
}
.title:hover span {
  color: hsla(0,0%,30%,1);
}
.description {
  margin: 20px;
}
/* Width Set */
.left, .center {
  float: left;
}
.right {
  float: right;
}
.left, .right {
  width: 20%;
}
.center {
  width: 100%;
}
.left + .center,
.right + .center {
  width: 80%;
}
.half {
  float: left;
  width: 50%;
}
.half + .half {
  float: right;
}
.close {
  border: 0;
  background: transparent;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.close:before, .close:after {
  content:"";
  position: absolute;
  margin-left: -10px;
  height: 1px;
  width: 20px;
  background-color: hsla(0,0%,60%,1);
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
/* active */
.active {
  display: block;
  -webkit-animation-name: slide-in-left;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-out;
}
.active .left,
.active .right,
.active .center {
  -webkit-animation-name: slide-in-left;
  -webkit-animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
}
/* photograph */
#photography .img-content {
  margin-top: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
  background: hsla(0,0%,14%,1);
}
#photography .img-content div {
  overflow: hidden;
}
#photography .img {
  display: block;
  float: left;
  width: 365px;
  height: 312px;
  cursor: pointer;
  overflow: hidden;
  margin: 0px 5px 10px 5px;
  transform: scale(1,1);
  transition: all .2s ease-out;
}
@media(min-width:768px) {
  #photography .img {width:365px;height: 312px;}
}
@media(min-width:992px) {
  #photography .img {width:312px;height: 312px;}
}
@media(min-width:1200px) {
  #photography .img {width:224px;height: 224px;}
}
#photography .img:hover {
  transform: scale(1.05,1.05);
}
#photography .img img {
  height: 100%;
  width: auto;
  transition: opacity .2s ease-out;
  opacity: 1;
}
#photography .img p {
  display: none;
}
#photography .opposite img {
  height: auto;
  width: 100%;
}

/* about */
/* image */

/* footer */
.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  background-color: hsla(180,50%,50%,1);
  text-align: right;
  z-index: 98;
}
.copyright {
  float: left;
  margin-top: 5px;
  font-size: 14px;
  line-height: 35px;
  color: #FFFFFF;
}
.social-btn {
  display: inline-block;
  float: right;
  width: 25px;
  height: 25px;
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  border-radius: 50%;
  box-shadow: inset 0px 0px 0px 0px hsla(39,100%,58%,1);
  cursor: pointer;
  transition: box-shadow .1s ease-out;
}
.social-btn:hover {
  box-shadow: inset 0px 0px 0px 25px hsla(39,100%,58%,1);
}
/* view-box */
.viewer {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0,0%,10%,.96);
  z-index: 98;
}
.prev, .next {
  position: absolute;
  top: 45%;
  z-index: 99;
}
.prev {
  left: 10%;
}
.next {
  right: 10%;
}
.viewer-close {
  position: absolute;
  right: 40px;
  top: 40px;
  cursor: pointer;
  z-index: 99;
}
.info {
  position: absolute;
  right: 40px;
  bottom: 30px;
  cursor: pointer;
  z-index: 97;
}
.viewer-content {
  position: relative;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media(min-width:768px) {
  .viewer-position {width:750px;}
}
@media(min-width:992px) {
  .viewer-position {width:793px;}
}
@media(min-width:1200px) {
  .viewer-position {width:980px;}
}
.viewer-content img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 90%;
  box-shadow: 3px 3px 8px 2px hsla(0,0%,0%,.2);
  transition: all .2s ease-out;
}
.viewer-content .blur {
  -webkit-filter: blur(4px);
  opacity: .6;
}
.viewer-content figcaption {
  display: none;
  position: absolute;
  width: 400px;
  height: 400px;
  line-height: 2em;
  color: hsla(0,0%,100%,1);
  top: 50%;
  left: 50%;
  right: 50%;
  bottom: 50%;
  margin-top: -200px;
  margin-left: -200px;
  transition: all .2s ease-out;
}